*{
	box-sizing: border-box;
}

body{
	overflow: hidden;
}

body>nav{
	background-color: limegreen;
}

#content{
	display: flex;
	padding: 0.5em;
}

#books{
	display: flex;
	flex-direction: row;
	flex-basis: 0;
	flex-grow: 7;
	flex-wrap: wrap;
	margin: 0 0.5em;
	height: 88vh;
	overflow-y: scroll;
}

#books .card{
	margin-left: 0.25em;
	margin-right: 0.25em;
}

#reviews{
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 3;
	margin: 0 0.5em;
}

#reviews .card{
	padding: 0.5em;
}

#reviews form{
	display: flex;
	flex-direction: column;
}

#reviews button{
	display: flex;
	margin: 1em;
	margin-left: auto;
}

#holder{
	display: none;
}

#reviewList{
	height: 53vh;
	overflow-y: auto;
}

#reviewList .card{
	padding: 0.5em;
	margin: 0.5em;
}

.book{
	display: flex;
	flex-direction: column;
	flex-basis: 24%;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 65vh;
}

.book>*{
	margin: 0.25em auto;
}

.book div:first-child{
	height: 6em;
	font-size: 18px;
	font-weight: 400;
	display: flex;
	align-items: center;
}

.book img{
	height: 8em;
	width: 6.5em;
}

.checked{
	color: greenyellow;
}